@font-face {
  font-family: 'concielian';
  src: url('~static/concv2e.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'racerz';
  src: url('~static/racerz.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}