:root {
  transition: background-color 1s;
}
body {
  font-family: Helvetica;
  font-size: 12px;
  margin: 0;
  /* padding-bottom: 30vh; */
}
@media (min-width: 1024px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  font-weight: normal;
  text-transform: lowercase;
  margin: 0.5em 0;
}

a {
  color: inherit;
}
